* {
  padding: 0;
  margin: 0;
  bottom: 0;
  outline: 0;
  list-style-type: none;
}

.wrapper {
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
  color: #3B3939;
  line-height: 140%;
  margin: auto;
}

.center {
  max-width: 1365px;
  margin: auto;
}

.container1 {
  background: linear-gradient(to right, white 50%, #627481 50%);
}

.container1-nav{
  margin-left: 107px;
}

.container1 img{
  color: #000000;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 22px;
}

.container1-link {
  text-decoration: none;
  margin-right: 30px;
  transition: 0.5s;
  line-height: 140%;
  padding-bottom: 4px;
}

.b-link {
  color: #3B3939;
}

.b-link:hover, .b-link:focus {
  font-weight: bold;
  border-bottom: 1px solid #6D6253;
}

.w-link {
  color: #fff;
}

.w-link:hover, .w-link:focus {
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.container1-call{
  width: 180px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 250px;
  font-size: 14px;
  color: #fff;
  background: none;
  transition: 0.5s;
}

.container1-call_white-phone {
  margin-right: 9px;
}

.container1-call:hover, .container1-call:focus {
  background-color: #FF5C4E;
  color: #fff;
  border: none;
}

.container2{
  width: 1363px;
  height: 426px;
}
.content2{
  text-align: center;
  margin-top: 90px;
}

.content2 h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 30px;
}

.block-info{
  display: flex;
  justify-content: space-between;
 flex-wrap: wrap;
 width: 1320px;
}
.block-info img{
  padding-top: 44px;
  padding-bottom: 20px;
}

.block{
  position: relative;
  background: #FFFFFF;
box-shadow: 2px 2px 20px rgba(148, 132, 107, 0.15);
  width: 300px;
  height: 300px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

.block h3{
  font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 140%;
/* or 24px */

text-align: center;
text-transform: lowercase;

color: #453E34;
}
.block p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  /* or 21px */
  text-align: center;
  text-transform: lowercase;
  margin: 0 auto;
  color: #000000;
}
/* container3 */
.container3 {
  text-transform: uppercase;
  max-width: 100%;
  width: 1966px;
  height: 1126px;
  text-align: center;
  background: linear-gradient(white 50%, #627481 50%);
}
.container3 h2{
  padding-top: 30px;
  padding-bottom: 80px;
}
.container3 img{
  margin-left: 15px;
  margin-right: 15px;
}

.container3 .center button {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  width: 240px;
  height: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
}
.container3 .center button:focus, .container3 .center button:hover{
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
}
/* container4 */
.container4 {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 125px;
}

.container4-h2 {
  margin-bottom: 75px;
}

.container4-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  text-align: left;
}

.text-4 {
  display: block;
  padding-right: 35%;
  margin-top: 24px;
  font-weight: 300;
  font-size: 15px;
}

.container4-red {
  color: #F53C52;
  font-weight: 500;
}

/* container6 */
.container6 {
  background-color: #EAEAEA;
  color: #6D6253;
  padding: 58px 0;
}

.content6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container6-h3{
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
}

.container6-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 180px;
  row-gap: 25px;
}

.container7 {
  background-color: #627481;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  align-items: center;
  font-weight: normal;
}

.container7-img {
  margin-right: 6%;
  object-fit: cover;
}

.container7-h2 {
  margin-bottom: 70px;
  font-size: 27px;
}

.content7 {
  display: flex;
  margin-bottom: 60px;
  width: 70%;
}

.container7-icon {
  margin-right: 9%;
}

.container7-h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}

.container7-p {
  font-size: 15px;
  line-height: 18px;
}

/* conrainer8 */

.container8 {
  padding-top: 120px;
  padding-bottom: 98px;
  color: #6D6253;
}
.container8 h2, .container8 h4 {
  color: #3B3B3B;
  white-space: nowrap;
}
.container8 .container8_1 {
  text-align: center;
  z-index: 1;
  margin-bottom: 49px;
}
.container8 .container8_1 .container-four__cards {
  row-gap: 172px;
}
.container8 .container8-graff {
  padding-top: 330px;
  display: flex;
  flex-grow: 1;
}
.container8 .container8-graff p {
  padding: 0;
  font-weight: 300;
  margin-left: 58px;
  padding-right: 10%;
}
.container8 p {
  display: block;
  padding-right: 43%;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
}
.container8 p span {
  color: #F53C52;
}
.container8 .container8_2, .container8 .container8_4 {
  background: #EAEAEA;
  height: 730px;
  position: relative;
}
.container8 .container8_2 .center, .container8 .container8_4 .center {
  display: grid;
  grid-template-areas: 
". . . a . ." 
". . . a b ." 
". c d d e e" 
"f f d d e e" 
"f f d d g ." 
"k k k i j .";
  position: absolute;
  right: calc(50% - 683px);
  top: -170px;
}
.container8 .container8_2 .center img, .container8 .container8_4 .center img {
  width: 100%;
  height: 100%;
}
.container8 .container8_2 .center div:not(:last-child), .container8 .container8_4 .center div:not(:last-child) {
  padding: 12px;
}
.container8 .container8_2 .center .img1, .container8 .container8_4 .center .img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: a;
}
.container8 .container8_2 .center .img2, .container8 .container8_4 .center .img2 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: b;
}
.container8 .container8_2 .center .img3, .container8 .container8_4 .center .img3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: c;
}
.container8 .container8_2 .center .img4, .container8 .container8_4 .center .img4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: d;
}
.container8 .container8_2 .center .img5, .container8 .container8_4 .center .img5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: e;
}
.container8 .container8_2 .center .img6, .container8 .container8_4 .center .img6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: f;
}
.container8 .container8_2 .center .img7, .container8 .container8_4 .center .img7 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: g;
}
.container8 .container8_2 .center .img8, .container8 .container8_4 .center .img8 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: k;
}
.container8 .container8_2 .center .img9, .container8 .container8_4 .center .img9 {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: i;
}
.container8 .container8_2 .center .button, .container8 .container8_4 .center .button {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
  grid-area: j;
  padding-top: 40px;
  padding-left: 40px;
}
.container8 .container8_2 .center .button button, .container8 .container8_4 .center .button button {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  width: 240px;
  height: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
}
.container8 .container8_2 .center .button button:focus, .container8 .container8_2 .center .button button:hover, .container8 .container8_4 .center .button button:focus, .container8 .container8_4 .center .button button:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
}
.container8 .container8_3 {
  padding-top: 280px;
  padding-bottom: 75px;
  padding-top: 280px;
  padding-bottom: 75px;
  padding-right: 40.8%;
}
.container8 .container8_3 .container8-graff {
  max-width: 590px;
}
.container8 .container8_4 {
  background: #FAF6EB;
}

.container9{
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
  width: 1920px;
  height: 390px;
}
.container9 h2{
  padding-top: 120px;
  padding-bottom: 70px;
}
.container9 .content9{
  display: flex;
  justify-content: space-between;
}
.content9 .boder1, .boder2, .boder3, .boder4{
  width: 77px;
  height: 77px;
  margin-left: 126px;
  margin-right: 126px;
}

/* .img9-1{}
.img9-2{}
.content9 .boder .img9-3{
  margin-bottom: 6px;
  margin-top: -40px;
  padding-top: 7px;
}
.img9-4{   
  margin-bottom: 0px;
  margin-top: -7px;
  padding-top: 13px;
} */
.content9 .boder1, .boder2, .boder3, .boder4{
  
  border: 2px solid #000;
  border-radius: 50%;

}

footer {
  background: #001525 url('./img/footer.png');
  text-align: center;
  padding-top: 124px;
  padding-bottom: 125px;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer p, footer a {
  font-weight: 300;
  font-size: 12px;
  transition: 1s;
}
footer .center {
  display: flex;
  justify-content: space-around;
}
footer .block-f {
  text-align: left;
}
footer .block-f a {
  display: inline-block;
  margin-top: 40px;
}
footer .block-f a:hover, footer .block-f a:focus {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
footer .block-f .first-child {
  margin: 0;
}
footer h6, footer p {
  margin-left: 25px;
}
footer .contact {
  display: flex;
}
footer .contact span {
  display: inline-block;
  width: 11px;
}
footer .contact img {
  align-self: start;
}

button {
  background: none;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  width: 260px;
  height: 55px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  border: 1px solid #fff;
  margin-top: 20px;
}
button:focus, button:hover {
  background: #FF5C4E;
  border: none;
}